<aside class="subheader">
    <div class="row align-middle">
        <div
                class="small-12 medium-6 columns text-center medium-text-left"
        ></div>
        <div class="small-12 medium-6 columns text-center medium-text-right">
            <ul id="menu-subheader" class="thb-subheader-menu">
                <li
                        id="menu-item-351"
                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-351"
                >
                    <a href="{% url 'index' %}"
                    >Library</a
                    >
                </li>
            </ul>
        </div>
    </div>
</aside>