<footer id="footer" class="footer">
    <div class="row footer-row">
        <div class="small-6 large-3 columns">
            <div id="nav_menu-1" class="widget widget_nav_menu">
                <div class="thb-widget-title">content</div>
                <div class="menu-footer_menu_1-container">
                    <ul id="menu-footer_menu_1" class="menu">
                        <li
                                id="menu-item-10858"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10858"
                        >
                            <a href="#">topics</a>
                            <ul class="sub-menu">
                                <li
                                        id="menu-item-17839"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17839"
                                >
                                    <a href="https://serp.ai/topic/automation"
                                    >automation</a
                                    >
                                </li>
                                <li
                                        id="menu-item-17840"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17840"
                                >
                                    <a href="https://serp.ai/topic/command-line"
                                    >command line</a
                                    >
                                </li>
                                <li
                                        id="menu-item-17841"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17841"
                                >
                                    <a href="https://serp.ai/topic/computer-skills"
                                    >computer skills</a
                                    >
                                </li>
                                <li
                                        id="menu-item-17842"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17842"
                                >
                                    <a href="https://serp.ai/topic/entrepreneurship"
                                    >entrepreneurship</a
                                    >
                                </li>
                                <li
                                        id="menu-item-17843"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17843"
                                >
                                    <a href="https://serp.ai/topic/excel">excel</a>
                                </li>
                                <li
                                        id="menu-item-17844"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17844"
                                >
                                    <a href="https://serp.ai/topic/git">git</a>
                                </li>
                                <li
                                        id="menu-item-17845"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17845"
                                >
                                    <a href="https://serp.ai/topic/linux">linux</a>
                                </li>
                                <li
                                        id="menu-item-17846"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17846"
                                >
                                    <a href="https://serp.ai/topic/productivity"
                                    >productivity</a
                                    >
                                </li>
                                <li
                                        id="menu-item-17847"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17847"
                                >
                                    <a href="https://serp.ai/topic/programming"
                                    >programming</a
                                    >
                                </li>
                                <li
                                        id="menu-item-17848"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17848"
                                >
                                    <a href="https://serp.ai/topic/python">python</a>
                                </li>
                                <li
                                        id="menu-item-17849"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17849"
                                >
                                    <a href="https://serp.ai/topic/version-control"
                                    >version control</a
                                    >
                                </li>
                                <li
                                        id="menu-item-17851"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17851"
                                >
                                    <a href="https://serp.ai/topic/web-development"
                                    >web development</a
                                    >
                                </li>
                                <li
                                        id="menu-item-17852"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-topics_taxonomy menu-item-17852"
                                >
                                    <a href="https://serp.ai/topic/web-hosting"
                                    >web hosting</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="small-6 large-3 columns">
            <div id="nav_menu-2" class="widget widget_nav_menu">
                <div class="thb-widget-title">resources</div>
                <div class="menu-footer_menu_2-container">
                    <ul id="menu-footer_menu_2" class="menu">
                        <li
                                id="menu-item-10848"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item menu-item-10848"
                        >
                            <a href="https://serp.ai/shop" aria-current="page">shop</a>
                        </li>
                        <li
                                id="menu-item-10828"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10828"
                        >
                            <a href="https://serp.ai/reviews/">reviews</a>
                        </li>
                        <li
                                id="menu-item-10829"
                                class="menu-item menu-item-type-taxonomy menu-item-object-reviews_category menu-item-10829"
                        >
                            <a href="https://serp.ai/reviews/category/software"
                            >software</a
                            >
                        </li>
                        <li
                                id="menu-item-14912"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14912"
                        >
                            <a href="https://serp.ai/glossary">glossary</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="small-6 large-3 columns">
            <div id="nav_menu-3" class="widget widget_nav_menu">
                <div class="thb-widget-title">social</div>
                <div class="menu-footer_menu_3-container">
                    <ul id="menu-footer_menu_3" class="menu">
                        <li
                                id="menu-item-236"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-236"
                        >
                            <a
                                    target="_blank"
                                    rel="nofollow"
                                    href="https://www.facebook.com/weareserpai"
                            >facebook</a
                            >
                        </li>
                        <li
                                id="menu-item-237"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-237"
                        >
                            <a
                                    target="_blank"
                                    rel="nofollow"
                                    href="https://twitter.com/serp_ai"
                            >twitter</a
                            >
                        </li>
                        <li
                                id="menu-item-238"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238"
                        >
                            <a
                                    target="_blank"
                                    rel="nofollow"
                                    href="https://www.instagram.com/"
                            >instagram</a
                            >
                        </li>
                        <li
                                id="menu-item-239"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-239"
                        >
                            <a
                                    target="_blank"
                                    rel="nofollow"
                                    href="https://www.linkedin.com/company/serp-ai/"
                            >linkedin</a
                            >
                        </li>
                        <li
                                id="menu-item-357"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-357"
                        >
                            <a href="https://www.pinterest.com/serp_ai/">pinterest</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="small-6 large-3 columns">
            <div id="nav_menu-4" class="widget widget_nav_menu">
                <div class="thb-widget-title">legal</div>
                <div class="menu-footer_menu_4-container">
                    <ul id="menu-footer_menu_4" class="menu">
                        <li
                                id="menu-item-4643"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4643"
                        >
                            <a href="https://serp.ai/legal/affiliate-disclosure"
                            >affiliate disclosures</a
                            >
                        </li>
                        <li
                                id="menu-item-4642"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4642"
                        >
                            <a href="https://serp.ai/legal/dmca-ip-concerns"
                            >dmca &amp; ip concerns</a
                            >
                        </li>
                        <li
                                id="menu-item-4641"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-4641"
                        >
                            <a href="https://serp.ai/legal/privacy-policy"
                            >privacy policy</a
                            >
                        </li>
                        <li
                                id="menu-item-4640"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4640"
                        >
                            <a href="https://serp.ai/legal/terms-conditions"
                            >terms &amp; conditions</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="subfooter style1">
    <div class="row subfooter-row align-middle">
        <div
                class="small-12 medium-6 text-center medium-text-left columns"
        ></div>
        <div
                class="small-12 medium-6 text-center medium-text-right columns"
        ></div>
    </div>
</div>