<nav class="woocommerce-pagination">
                      <span aria-current="page" class="page-numbers current"
                      >1</span
                      >
    <a class="page-numbers" href="https://serp.ai/shop/page/2"
    >2</a
    >
    <a class="page-numbers" href="https://serp.ai/shop/page/3"
    >3</a
    >
    <a class="page-numbers" href="https://serp.ai/shop/page/4"
    >4</a
    >
    <span class="page-numbers dots">…</span>
    <a
            class="page-numbers"
            href="https://serp.ai/shop/page/18"
    >18</a
    >
    <a
            class="page-numbers"
            href="https://serp.ai/shop/page/19"
    >19</a
    >
    <a
            class="page-numbers"
            href="https://serp.ai/shop/page/20"
    >20</a
    >
    <a
            class="next page-numbers"
            href="https://serp.ai/shop/page/2"
    >Next</a
    >
</nav>