<div class="row align-middle">
    <div class="small-12 columns">
        <div class="thb-filter-bar">
            <div class="row align-middle">
                <div
                        class="small-6 small-order-1 large-order-1 large-6 columns"
                >
                    <a href="#" id="thb-shop-filters"
                    >
                        <svg
                                width="15"
                                height="12"
                                viewBox="0 0 15 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    d="M7.94215 9.2353L1 9.23531M13.7273 9.23531L10.2562 9.2353M3.31405 2.76471L1 2.76467M13.7273 2.76467L5.6281 2.76471M5.6281 1V4.52941M10.2562 11V7.47059"
                                    stroke="black"
                                    stroke-width="1.3"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            ></path>
                        </svg>
                        Toggle Filters</a
                    >
                </div>
                <div
                        class="small-6 small-order-2 large-order-2 large-6 columns text-right"
                >
                    <div class="thb-products-per-page thb-filter-bar-box">
                        <span class="filter-bar-title">Show</span>
                        <select name="thb-shop-perpage" class="per-page-variation">
                            <option
                                    value="https://serp.ai/shop?do_not_redirect=1&amp;post_type=product&amp;ppp=15"
                            >
                                15
                            </option>
                            <option
                                    value="https://serp.ai/shop?do_not_redirect=1&amp;post_type=product&amp;ppp=30"
                            >
                                30
                            </option>
                            <option
                                    value="https://serp.ai/shop?do_not_redirect=1&amp;post_type=product&amp;ppp=45"
                            >
                                45
                            </option>
                        </select>
                    </div>
                    <div class="thb-filter-bar-box">
                        <span class="filter-bar-title">Sort by</span>
                        <form class="woocommerce-ordering" method="get">
                            <select
                                    name="orderby"
                                    class="orderby"
                                    aria-label="Shop order"
                            >
                                <option value="menu_order" selected="selected">
                                    Default sorting
                                </option>
                                <option value="popularity">Sort by popularity</option>
                                <option value="date">Sort by latest</option>
                                <option value="price">
                                    Sort by price: low to high
                                </option>
                                <option value="price-desc">
                                    Sort by price: high to low
                                </option>
                                <option value="brand">Sort by brand</option>
                            </select>
                            <input type="hidden" name="paged" value="1"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>