<div class="thb-woocommerce-header">
            <div class="row">
                <div class="small-12 columns">
                    <div class="thb-breadcrumb-bar">
                        <nav class="woocommerce-breadcrumb">
                            <a href="{% url 'index' %}">Home</a> <i>/</i> Book
                        </nav>
                    </div>
                    <div class="thb-woocommerce-header-title">
                        <div class="thb-woocommerce-header-content">
                            <div class="thb-category-title-container">
                                <h1>Book</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>